* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.box {
  margin: 0 auto;
  max-width: 900px;
  min-width: 250px;
}
/* 头部 */
header {
  background-color: #FE8A00;
  width: 100%;
  height: 4rem;
  display: flex;
}
header .one {
  margin-left: 3rem;
}
header .two {
  margin-left: 11rem;
}
header .three {
  margin-left: 2rem;
}
/* 导航 */
nav {
  height: 3rem;
  line-height: 3rem;
  border-bottom: 1px solid grey;
}
nav p {
  margin-left: 1.5rem;
}
nav p > a:nth-of-type(1) {
  font-size: 1.2rem;
  font-weight: 700;
}
nav a {
  color: black;
}
.int {
  line-height: 4rem;
  height: 4rem;
  border-bottom: 1px solid grey;
}
.int input {
  border: none;
  padding-left: 2rem;
  outline: none;
}
.int:nth-of-type(1) {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.int:nth-of-type(1) button {
  white-space: nowrap;
  align-self: center;
  width: 10rem;
  height: 3rem;
  font-size: 1.6rem;
  border: 1px solid #c5b2b2;
}
.but {
  margin-top: 1.5rem;
  margin-left: 2rem;
  height: 4rem;
  width: 90%;
  color: white;
  font-size: 1.4rem;
  background-color: #FE8A00;
  border: none;
  outline: none;
}
