* {
  margin: 0;
  padding: 0;
}
.box {
  margin: 0 auto;
  max-width: 900px;
  min-width: 250px;
}
header {
  width: 100%;
  height: 15rem;
  background: url(../img/my/bg1.png) no-repeat;
  background-size: cover;
}
header img {
  width: 4rem;
  height: 4rem;
}
header .right {
  display: flex;
  justify-content: flex-end;
}
header img {
  margin-right: 2rem;
}
header .centent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .centent img {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}
header .centent button {
  width: 8rem;
  height: 3rem;
  color: white;
  background-color: #FE8A00;
  border: 1px solid white;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
section {
  margin-top: 1rem;
}
section ul {
  list-style: none;
}
section ul li {
  font-size: 1.2rem;
  position: relative;
  padding-left: 4rem;
  line-height: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid grey;
}
section ul li img {
  position: absolute;
  top: 1.6rem;
  right: 1rem;
  width: 2rem;
  height: 2em;
}
section ul > li:nth-of-type(1) {
  background: url(../img/my/icon1.png) no-repeat 1.4rem 1rem;
  background-size: 2.4rem 2.9rem;
}
section ul > li:nth-of-type(2) {
  background: url(../img/my/icon2.png) no-repeat 1.4rem 1rem;
  background-size: 2.4rem 2.9rem;
}
section ul > li:nth-of-type(3) {
  background: url(../img/my/icon3.png) no-repeat 1.4rem 1rem;
  background-size: 2.4rem 2.9rem;
}
section ul > li:nth-of-type(4) {
  background: url(../img/my/icon4.png) no-repeat 1.4rem 1rem;
  background-size: 2.4rem 2.9rem;
}
